@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* colors */
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);
    --DarkGreen: hsl(154, 41%, 50%);
    --Blue: hsl(248, 32%, 49%);
    --Bluehover: hsl(248, 30%, 47%);
    --DarkBlue: hsl(249, 10%, 26%);
    --GrayishBlue: hsl(246, 25%, 77%);
    --DarkBlueTransparent: hsl(249, 10%, 26%, 0.3);
    --DarkGray: hsl(247, 7%, 50%);

    /* fonts */
    --Poppins: 'Poppins', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 15px 3fr 15px;
    grid-template-rows: 0.5fr 2fr 5fr 2fr;
    gap: 0px 0px;
    grid-template-areas:
        ". . ."
        ". text-area ."
        ". form-area ."
        ". form-area .";

}

body {
    text-align: center;
    background-color: var(--Red);
    font-family: var(--Poppins);
    font-size: 16px;
    background-image: url("../images/bg-intro-mobile.png");

}

.text-area {
    grid-area: text-area;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.text-area p {
    font-size: 16px;
}

.first-p {
    padding: 23px;
    border: none;
    border-radius: 10px;
    background-color: var(--Blue);
    color: white;
    box-shadow: 0 8px var(--DarkBlueTransparent);
    cursor: pointer;
    transition: all 0.3s;
}

.first-p:hover {
    background-color: var(--Bluehover);
}

.form-area {
    grid-area: form-area;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px var(--DarkBlueTransparent);
}

.field-group {
    position: relative;
    margin-bottom: 25px;
}

label {
    display: none;
}

input {
    width: 93%;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1.3px solid var(--DarkBlueTransparent);
    padding-left: 20px;
    outline: none;
    color: hsl(249, 10%, 26%);
    font-size: 1.1rem;
    font-weight: 600;
}

input:focus {
    border: 1.5px solid var(--Blue);
}

input::placeholder {
    color: var(--DarkGray);
    font-size: 1.1rem;
    font-weight: 600;
}

.error-text,
.error-icon {
    display: none;
}

.error-text {
    text-align: right;
    bottom: 0;
    right: 0;
    font-size: .8rem;
    font-style: italic;
    color: var(--Red);
    font-weight: 500;
}

.error-icon {
    position: absolute;
    right: 15px;
    top: 20%;
}

.field-group.error .error-text,
.field-group.error .error-icon {
    display: block;
}

.field-group.error input {
    border: 2px solid var(--Red);
}

.form-button {
    width: 100%;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 20px;
    outline: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: .5px solid var(--DarkGreen);
    background-color: var(--Green);
    box-shadow: 3px 2px var(--DarkGreen);
    cursor: pointer;
    transition: all .3s;
}

.form-button:hover {
    background-color: var(--DarkGreen);
}

.form-footer {
    color: var(--DarkBlueTransparent);
    font-size: 14px;
}

.form-footer span {
    color: var(--Red);
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width: 991px) {
    body {
        background-image: url("../images/bg-intro-desktop.png");
    }

    .container {
        display: grid;
        grid-template-columns: .2fr .5fr 1fr .5fr 1fr .8fr .2fr;
        grid-template-rows: 1fr 2fr 2fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            ". . . . . . ."
            ". text-area text-area . form-area form-area ."
            ". text-area text-area . form-area form-area ."
            ". text-area text-area . form-area form-area ."
            ". . . . . . .";
        height: 100%;
    }

    .text-area {
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: left;
    }

    .error-icon {
        right: 40px;
    }
}

@media screen and (min-width: 768px){
    .error-icon{
        right: 35px;
    }

}